@import '../../styles/generals/index.scss';

.categories {
  display: grid;
  grid-template-columns: minmax(200px, 1fr);
  gap: 24px;

  @include onTabletAndUp {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 16px;
  }
}

h2 {
  margin-bottom: 24px;
  font-size: 22px;
  color: $themePurplePrimary;
  font-weight: $fontWeightBold;;

  @include onTabletAndUp {
    font-size: 32px;
    line-height: $lineHeightAdditional;
  }
}
