@import '../../styles/generals/index.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include onTabletAndUp {
    gap: 20px;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, minmax(300px, 1fr));
  gap: 40px 16px;

  @include onTabletAndUp {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }

  @include onLaptopAndUp {
    grid-template-columns: repeat(4, minmax(300px, 1fr));
  }
}

.gridItem {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-content: center;
  flex-wrap: wrap;

  & > * {
    flex-grow: 1;
  }
}

.controlsContainer {
  display: flex;
  justify-content: center;
}

.productEnter {
  opacity: 0;
  transform: scale(0.9);
}

.productEnterActive {
  opacity: 1;
  transform: scale(1);
  transition:
    opacity 300ms ease-out,
    transform 300ms ease-out;
}

.productExit {
  opacity: 1;
  transform: scale(1);
}

.productExitActive {
  opacity: 0;
  transform: scale(0.9);
  transition:
    opacity 300ms ease-in,
    transform 300ms ease-in;
}
