@import '../../styles/generals/index.scss';

.categories {
  display: grid;
  grid-template-columns: minmax(200px, 1fr);
  gap: 24px;

  @include onTabletAndUp {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 16px;
  }
}

.cart_box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  cursor: pointer;
}

h2 {
  margin-bottom: 24px;
  font-size: 22px;
  color: $themePurplePrimary;
  font-weight: $fontWeightBold;;

  @include onTabletAndUp {
    font-size: 32px;
    line-height: $lineHeightAdditional;
  }
}

.picture {
  width: 100%;
  height: 100%;
  border: 1px solid $themePurpleBgHover;
  border-radius: 8px;
  overflow: hidden;
  position: relative;

  @include onLaptopAndUp {
    border-radius: 0;
  }
}

.picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.phone {
  background-color: rgb(156, 155, 155);
  object-position: 60px 50px;
}

.tablet {
  background-color: #806262;
  object-position: 40px 45px;
  object-fit: none;
  object-position: left bottom;
}

.accessories {
  background-color: #852f52;
  object-position: left bottom;
}

.titleAndCount {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

h3 {
  color: $themePurplePrimary;
  font-size: 20px;
  line-height: $lineHeightAdditional;
  font-weight: $fontWeightSemiBold;
}

.quantity {
  font-size: 14px;
  color: $themePurpleSecondary;
}

