@import '../../styles/generals/index.scss';

.container {
  max-width: 300px;
  width: 100%;
}

.title {
  color: $themePurplePrimary;
  font-size: 20px;
  line-height: $lineHeightAdditional;

  @include onTabletAndUp {
    font-weight: $fontWeightBold;
  }
}

.divider {
  height: 1px;
  width: 100%;
  background-color: $themePurpleElements;
  margin-top: 16px;
  margin-bottom: 30px;
}

.containers {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.specs_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.specs {
  
}

.description {
  color: $themePurplePrimary;
  display: flex; 
  align-items: center;
  gap: 3px;

  p {
    @include exceptLastChild {
      @include after {
        content:',';
      }
    }
  }
}
