@import '../../../styles/generals/index.scss';
@import '../mixins.scss';

.dropdown {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 4px;

  box-sizing: border-box;

  &.isOpen {
    & > .trigger > .chevron {
      transform: rotate(180deg);
    }

    & > .menu {
      opacity: 1;
      pointer-events: all;

      & > .option {
        height: 32px;
      }
    }
  }
}

.label {
  @include label;
}

.trigger {
  height: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 12px;

  border: 1px solid var(--colorIcons);
  border-radius: 8px;

  transition-property: border-color;
  transition-duration: $transitionDuration;

  cursor: pointer;

  &:focus {
    border-color: var(--colorPrimary);
    outline: none;
  }
}

.chevron {
  transition-duration: $transitionDuration;
}

.selectedOption {
  color: var(--colorPrimary);
  font-weight: $fontWeightBold;
}

.menu {
  z-index: 10;

  position: absolute;

  top: 64px;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0;

  box-sizing: border-box;

  padding: 8px 0;

  opacity: 0;

  background-color: var(--colorBackground);

  border: 1px solid var(--colorElements);
  border-radius: 8px;

  box-shadow: 0px 2px 15px 0px #0000000d;

  transition-duration: $transitionDuration;

  pointer-events: none;
}

.option {
  height: 0;
  overflow: hidden;

  display: flex;
  justify-content: start;
  align-items: center;

  padding: 0 12px;

  background-color: var(--colorBackground);

  transition-duration: $transitionDuration;

  cursor: pointer;

  @include onHover {
    color: var(--colorPrimary);
    font-weight: $fontWeightSemiBold;

    background-color: var(--colorBackgroundOnHover);

    transition-duration: $transitionDuration;
  }
}

.error {
  @include error;
}
