@import '../../../styles/generals/index.scss';

.buttonRounded {
  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border: 1px solid var(--colorElements);
  border-radius: 50%;
  overflow: hidden;

  background-color: transparent;

  color: var(--colorPrimary);
  transition-duration: $transitionDuration;

  @include onHover {
    border-color: var(--colorPrimary);
  }

  &.selected {
    background-color: var(--colorPrimary);
    color: var(--colorBackground);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
