@import '../../../styles/generals/index';

.features {
  display: none;

  @media(min-width: 768px) {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &.mobile {
    display: grid;
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    align-items: center;
    justify-items: center;
  }
}

.languages {
  position: relative;

  width: 50px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  @include onHover {
    .separator {
       background-color: var(--colorAccentSecondary);
    }
  }
}

.language {
  position: absolute;

  font-size: $fontSizeSmall;

  transition-duration: $transitionDuration;

  &.en {
    top: 0;
    left: 0;
  }

  &.ua {
    bottom: 0;
    right: 0;
  }

  &.active {
    color: var(--colorPrimary);
    font-size: 14px;

    @include onTabletAndUp {
      font-size: 16px;
    }
  }
}

.separator {
  width: 1px;
  height: 35px;

  flex-shrink: 0;

  background-color: var(--colorSecondary);

  transform: rotate(45deg);

  transition-duration: $transitionDuration;
}

.theme {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  overflow: hidden;

  transition-duration: $transitionDuration;
  cursor: pointer;

  span {
    font-size: 35px;
    color: var(--colorSecondary);

    transition-duration: $transitionDuration;

    @include onHover {
      color: var(--colorAccentSecondary);
    }

    @include onTabletAndUp {
      font-size: 40px;
    }

    @include onLaptopAndUp {
      font-size: 45px;
    }
  }
}