@import '../../../styles/generals/index.scss';
@import '../mixins.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 4px;

  &.isError {
    & > .input {
      border-color: var(--colorEyeCatchingPrimary);
    }

    & > .error {
      opacity: 1;
    }
  }
}

.label {
  @include label;
}

.input {
  height: 40px;

  display: block;

  padding: 0 12px;

  border: 1px solid var(--colorIcons);
  border-radius: 8px;

  color: var(--colorPrimary);
  font-weight: $fontWeightBold;

  transition-duration: $transitionDuration;

  &:focus {
    border-color: var(--colorPrimary);
    outline: none;
  }

  &::placeholder {
    font-weight: $fontWeightNormal;
  }
}

.error {
  @include error;
}
