@import './src/styles/generals/variables.scss';
@import './src/styles/generals/mixins.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 48px;
    border-bottom: 2px solid $themePurpleElements;
    position: relative;

    @include onLaptop {
        height: 64px;
    }
}

.logo {
    margin-right: 24px;
}

.nav-links {
    display: none;
    height: 100%;

    :hover {
        color: $themePurplePrimary;
        }

    @include onTablet {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        margin-right: auto;

        a {
            display: flex;
            align-items: center;
            position: relative;
            text-decoration: none;
            color: inherit;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 100%;
                height: 2px;
                background-color: $themePurplePrimary;
                transform: scaleX(0);
                transition: transform 0.3s ease;
            }


            &:hover::after {
                transform: scaleX(1);
            }
        }
    }

    @include onTablet {
        display: flex;
         gap: 24px;
     }

    @include onLaptop {
        gap: 64px;

        &::after {
            width: 100%;
            height: 2px;
            background-color: $themePurplePrimary;
            transform: scaleX(0);
            transition: transform 0.3s ease;
        }
    }
}
.icon-home {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid $themePurpleElements;
    line-height: 2;

    @include onTablet {
        display: none;
    }
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-left: 2px solid $themePurpleElements;
    padding: 16px;

    @include onLaptop {
        padding: 24px;
    }

}

.icon-group {
    display: none;

   @include onTablet {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
