@import '../../../../styles/generals/index.scss';

.checkoutModal {
  position: fixed;
  top: 48px;
  left: 0;
  z-index: 3;

  width: 100vw;
  height: calc(100svh - 48px);

  background-color: rgba(15, 15, 17, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;

  transform: translateX(-100%);
  transition-duration: 0.5s;

  &.isVisible {
    transform: translateX(0);

    overflow: auto;

    .checkoutWrapper {
      transform: translateX(0);
    }
  }
}

.checkoutWrapper {
  max-width: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;

  padding: 100px 16px 20px;
  background-color: var(--colorBackground);

  transform: translateX(-100%);
  transition-duration: 0.5s;

  @include onTabletAndUp {
    max-width: 600px;
    width:100%;

    border-radius: 16px;

    padding: 100px 25px 30px;

    box-shadow: 0px 2px 15px 0px #0000000d;
  }

  @include onLaptopAndUp {
    padding-top: 50px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.shipToMargin {
  margin-bottom: 16px;
}

.cvcAndExpDate {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  gap: 16px;
}

.spacer {
  flex-grow: 1;
}

.final {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  padding: 16px;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: center;

  &Price {
    color: var(--colorPrimary);

    font-size: $fontSizeBig;
    font-weight: $fontWeightSemiBlack;
    line-height: $lineHeightAdditional;
  }
}

.separator {
  width: 100%;
  height: 1px;

  background-color: var(--colorElements);
}

.buttons {
  display: grid;
  grid-template-columns: minmax(200px, 1fr);
  gap: 16px;
}
