@import '../../../../styles/generals/index.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;

  padding: 24px 16px 56px;
}

.order {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.total {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.separator {
  width: 100%;

  background-color: $themePurpleElements;
}

.buttons {
  display: grid;
  grid-template-columns: minmax(200px, 1fr);
  gap: 16px;
}
