@font-face {
  font-family: 'icomoon';
  src: url('fonts/icomoon.eot?szc1ug');
  src:
    url('./icons_files/icomoon.eot?szc1ug#iefix') format('embedded-opentype'),
    url('./icons_files/icomoon.ttf?szc1ug') format('truetype'),
    url('./icons_files/icomoon.woff?szc1ug') format('woff'),
    url('./icons_files/icomoon.svg?szc1ug#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-right:before {
  content: '\e900';
}
.icon-chevron-left:before {
  content: '\e901';
}
.icon-chevron-down:before {
  content: '\e902';
}
.icon-chevron-up:before {
  content: '\e903';
}
.icon-plus:before {
  content: '\e904';
}
.icon-minus:before {
  content: '\e905';
}
.icon-heart:before {
  content: '\e906';
}
.icon-heart-filled:before {
  content: '\e907';
}
.icon-shopping-bag:before {
  content: '\e908';
}
.icon-search:before {
  content: '\e909';
}
.icon-home:before {
  content: '\e90a';
}
