@import '../../../../styles/generals/index.scss';

.cart {
  max-width: 755px;
  width: 100%;
}

.container {
  padding: 16px 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;

  color: $themePurplePrimary;
  background-color: $themePurpleWhite;

  border: 1px solid $themePurpleElements;
  border-radius: 16px;

  @include onTabletAndUp {
    flex-direction: row;
    gap: 24px;
  }
}

.position {
  display: flex;
  align-items: center;
  gap: 23px;

  span {
    cursor: pointer;
    color: $themePurpleSecondary;
    transform: rotate(45deg);

    transition-duration: $transitionDuration;

    font-size: 20px;

    @include onHover {
      color: $themePurplePrimary;

      transform: scale(1.3) rotate(45deg);
    }
  }

  &.spaceBetween {
    justify-content: space-between;
  }
}

.quantityBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}

.photo {
  width: 66px;
  height: 66px;

  flex-shrink: 0;
}

.photoImg {
  width: 100%;
  height: 100%;

  object-fit: contain;
  object-position: center;
}

.description {
  color: $themePurplePrimary;
}

.price {
  font-weight: $fontWeightSemiBlack;
}
