@import './index.scss';

.button-primary {
  max-width: 200px;
  //Katya znaye
  width: 100%;

  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: baseline;

  font-weight: $fontWeightBold;
  text-align: center;

  border: 1px solid transparent;

  background-color: var(--colorAccentPrimary);
  color: var(--colorBackground);

  border-radius: 48px;

  transition-duration: $transitionDuration;

  @include onHover {
    box-shadow: 0 3px 13px rgba(23, 32, 49, 0.4);
  }

  &--selected {
    background-color: transparent;
    color: var(--colorAccentPrimary);
    border-color: var(--colorElements);

    @include onHover {
      box-shadow: 0 3px 3px rgba(23, 32, 49, 0.4);
    }
  }
}

.button-round {
  width: 32px;
  height: 32px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  border: 1px solid var(--colorElements);
  border-radius: 50%;
  overflow: hidden;

  background-color: transparent;

  color: var(--colorPrimary);
  transition-duration: $transitionDuration;

  @include onHover {
    border-color: var(--colorPrimary);
  }

  &--selected {
    background-color: var(--colorPrimary);
    color: var(--colorBackground);
  }

  &--chevron {
    border-color: var(--colorIcons);
    @include before {
      content: '\e900';
      font-family: 'icomoon';
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }

  &--heart {
    width: 40px;
    height: 40px;

    border-color: var(--colorIcons);

    @include before {
      content: '\e906';
      font-family: 'icomoon';
    }

    &--selected {
      border-color: var(--colorAccentPrimary);
      background-color: var(--colorAccentPrimary);

      &::before {
        color: var(--colorBackground);
      }
    }
  }
}
