@import 'variables.scss';

@mixin onTablet {
    @media (min-width: 640px) {
      @content;
    }
  }
  
  @mixin onLaptop {
    @media (min-width: 1200px) {
      @content;
    }
  }

  @mixin lastChild {
    &:not(:last-child) {
      @content;
    }
  }
  
  @mixin before {
    &::before {
      content: '';
      @content;
    }
  }
  
  @mixin after {
    &::after {
      content: '';
      @content;
    }
  }
  
  @mixin onHover {
    &:hover {
      @content;
    }
  }

  @mixin titleMain {
     font-size: $fontSizeBig;
     font-weight: $fontWeightSemiBlack;
     line-height: $lineHeightAdditional;

     color: $themePurplePrimary;

     @mixin onTablet {
      font-size: 48px;
     }
  }
