@import 'variables.scss';

@mixin onTabletAndUp {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onLaptopAndUp {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin exceptLastChild {
  &:not(:last-child) {
    @content;
  }
}

@mixin onlyLastChild {
  &:last-child {
    @content;
  }
}

@mixin before {
  &::before {
    content: '';
    @content;
  }
}

@mixin after {
  &::after {
    content: '';
    @content;
  }
}

@mixin onHover {
  &:hover {
    @content;
  }
}

@mixin titleMain {
  font-size: $fontSizeBig;
  font-weight: $fontWeightSemiBlack;
  line-height: $lineHeightAdditional;

  color: $themePurplePrimary;

  @include onTabletAndUp {
    font-size: 48px;
  }
}

@mixin container {
  max-width: 1166px;
  width: 100%;
  box-sizing: border-box;

  margin: 0 auto;
  padding: 0 15px;
}