$themePurpleRed: #eb5757;
$themePurpleGreen: #27ae60;
$themePurpleWhite: #ffffff;
$themePurpleBgHover: #fafbfc;
$themePurpleElements: #e2e6e9;
$themePurpleIcons: #b4bdc3;
$themePurpleSecondary: #89939a;
$themePurplePrimary: #0f0f11;
$themePurpleSecondaryAccent: #f4ba47;
$themePurpleAccent: #4219d0;

$fontSizeSmall: 12px;
$fontSizeMedium: 22px;
$fontSizeBig: 32px;

$fontWeightNormal: 400;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;
$fontWeightSemiBlack: 800;

$lineHeightAdditional: 1.2;

$transitionDuration: 0.3s;
$transformScale: scale(1.05);
