$themePurpleRed: #EB5757;
$themePurpleGreen: #27AE60;
$themePurpleWhite: #FFFFFF;
$themePurpleBgHover: #FAFBFC;
$themePurpleElements: #E2E6E9;
$themePurpleIcons: #B4BDC3;
$themePurpleSecondary: #89939A;
$themePurplePrimary: #0F0F11;
$themePurpleSecondaryAccent: #F4BA47;
$themePurpleAccent: #4219D0;

$fontSizeSmall: 12px;
$fontSizeMedium: 22px;
$fontSizeBig: 32px;

$fontWeightSemiBold: 600;
$fontWeightBold: 700;
$fontWeightSemiBlack: 800;

$lineHeightAdditional: 1.2;

$transitionDuration: 0.3s;
$transformScale: scale(1.1);



