@import '../../../../../styles/generals/index.scss';

.cart_box {
  display: flex;
  flex-direction: column;
  gap: 24px;

  cursor: pointer;
}

.picture {
  max-width: 100%;
  width: 100%;
  height: 60vh;
  max-height: 350px;

  border-radius: 8px;
  overflow: hidden;



  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

.phone {
  background-color: rgb(156, 155, 155);
  object-position: 60px 50px;
}

.tablet {
  background-color: #806262;
  object-position: left bottom;
}

.accessories {
  background-color: #852f52;
  object-position: 40px 50px;
}

.titleAndCount {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  color: var(--colorPrimary);
  font-size: 20px;
  line-height: $lineHeightAdditional;
  font-weight: $fontWeightSemiBold;
}
