@import '../../../../../styles/generals/index.scss';

.cart_box {
  display: flex;
  flex-direction: column;
  gap: 24px;

  cursor: pointer;
}

.cart_box:hover {
  .picture {
    transform: scale(1.05);
  }
}

.picture {
  width: 100%;

  aspect-ratio: 1;
  border-radius: 8px;
  overflow: hidden;

  transition-duration: $transitionDuration;
  
  @include onTabletAndUp {
    max-width: clamp(187px, 50vw, 368px);
  }

  @include onLaptopAndUp {
    max-width: 368px;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 45px 35px;
  }
}

.phone {
  background-color: #6D6474;
}

.tablet {
  background-color: rgb(156, 155, 155);
}

.accessories {
  background-color: #74173c;
}

.titleAndCount {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.title {
  color: var(--colorPrimary);
  font-size: 20px;
  line-height: $lineHeightAdditional;
  font-weight: $fontWeightSemiBold;
}
