@import '../../../styles/generals/index.scss';

.buttonPrimary {
  max-width: 100%;
  width: 100%;

  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: baseline;

  font-weight: $fontWeightBold;
  text-align: center;

  border: 1px solid transparent;

  background-color: var(--colorAccentPrimary);
  color: var(--colorBackground);

  border-radius: 48px;

  transition-duration: $transitionDuration;

  @include onHover {
    box-shadow: 0 3px 13px rgba(23, 32, 49, 0.4);

    // something *needs* to be done on hover in dark mode, and we are not using this color anyway
    background-color: var(--colorAccentSecondary);
  }

  &.selected {
    background-color: transparent;
    color: var(--colorAccentPrimary);
    border-color: var(--colorElements);

    @include onHover {
      box-shadow: 0 3px 3px rgba(23, 32, 49, 0.4);
    }
  }
}
