@import '../../../styles/generals/index.scss';

.buttonPrimary {
    max-width: 320px;
    width: 100%;
  
    padding: 10px;
  
    display: flex;
    justify-content: center;
    align-items: baseline;
  
    font-weight: $fontWeightBold;
    text-align: center;
  
    border: 1px solid transparent;
  
    background-color: $themePurpleAccent;
    color: $themePurpleWhite;
  
    border-radius: 48px;

    transition-duration: $transitionDuration;
  
    @include onHover {
      box-shadow: 0 3px 13px rgba(23, 32, 49, 0.4);
    }

    &.selected {
        background-color: transparent;
        color: $themePurpleAccent;
        border-color: $themePurpleElements;

        @include onHover {
            box-shadow: 0 3px 3px rgba(23, 32, 49, 0.4);
          }
      }
  }