
.containerDropdown {
  display: flex;
  flex-direction: column;
  color: black;
  // font-family: Mont, sans-serif;
}

.text {
  color: #89939A;
  font-size: 12px;

  font-weight: 700;
  line-height: 15.34px;
}

.button {
  border-radius: 3px;
  // color:  #89939A;
}

.option {
  color: black;
}