@import 'styles/generals/index';

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Mont';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;

  color: $themePurpleSecondary;
  background-color: $themePurpleBgHover;
}

.wrapper {
  min-height: 100vh;
  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column;

  & > .page {
    padding-top: 72px;
    flex-grow: 1;
  }
}

.page{
  @include container;
}
