@import 'styles/generals/index.scss';

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: 'Mont';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;

  color: var(--colorSecondary);
  background-color: var(--colorBackgroundOnHover);

  transition-property: color, background-color;
  transition-duration: $transitionDuration;
}

.wrapper {
  //width: 100vw;
  min-height: 100vh;

  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
}

.page {
  @include container;

  padding-top: 48px;
  flex-grow: 1;

  @include onLaptopAndUp {
    padding-top: 64px;
  }
}
