@import '../../styles/generals/index.scss';

.container {
    padding: 24px 0 30px;

    @include onTabletAndUp {
      padding-top: 32px;
    }

    @include onLaptopAndUp {
        padding: 56px 0 50px;
    }
}

.homeHeader {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include exceptLastChild {
        margin-bottom: 56px;
    }

    @include onTabletAndUp {
        gap: 32px;

        @include exceptLastChild {
            margin-bottom: 64px;
        }
    }

    @include onLaptopAndUp {
        gap: 56px;

        @include exceptLastChild {
            margin-bottom: 80px;
        }
    }
}

.title {
    @include titleMain;
}
