@import '../../../styles/generals/index.scss';

.icons {
  display: none;

  @include onTabletAndUp {
    display: flex;
  }

  &.mobile {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));

    border-top: 2px solid var(--colorElements);

    @include onTabletAndUp {
      display: none;
    }
  }
}

.icon {
  position: relative;

  height: 64px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;

  cursor: pointer;

  &:nth-child(1) {
    border-right: 2px solid var(--colorElements);
  }

  @include before {
    position: absolute;
    left: 0;
    bottom: 0;

    height: 3px;
    width: 0;

    background-color: var(--colorPrimary);
    border-radius: 10px;

    transition-duration: $transitionDuration;
  }

  div {
    position: relative;

    font-size: 18px;
    transition-duration: $transitionDuration;
  }

  @include onHover {
    div {
      color: var(--colorPrimary);
      transform: $transformScale;
    }
  }

  @include onTabletAndUp {
    width: 48px;
    height: 48px;
    flex-shrink: 0;

    &:nth-child(1) {
      border-left: 2px solid var(--colorElements);
    }

    &:nth-child(2) {
      border-right: 2px solid var(--colorElements);
    }
  }

  @include onLaptopAndUp {
    width: 64px;
    height: 64px;
  }

  &.active {
    color: var(--colorPrimary);

    &::before {
      width: 100%;
    }
  }
}

.bubble {
  position: absolute;
  top: -5px;
  right: -7px;

  width: 15px;
  height: 15px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 9px;
  font-weight: $fontWeightSemiBold;

  color: var(--colorBackground);
  background-color: var(--colorAccentPrimary);

  border: 1px, solid, var(--colorBackground);
  border-radius: 7px;

  transition-duration: $transitionDuration;
}
