@import '../../styles/generals/index.scss';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.title {
  font-size: 3rem;
  font-weight: $fontWeightSemiBlack;
  color: var(--colorPrimary);
}

.message {
  text-transform: uppercase;
}

.link {
  color: var(--colorSecondary);
  text-decoration: none;
  font-weight: $fontWeightSemiBlack;
  transition-duration: $transitionDuration;

  &:hover {
    color: var(--colorPrimary);
  }
}

.robot {
  animation: 2s ease-in-out infinite alternate rockSideToSide;
  transform-origin: bottom center;
}

@keyframes rockSideToSide {
  from {
    transform: rotate(-15deg);
  }

  to {
    transform: rotate(15deg);
  }
}
